.smart-search--demo {
    --smart-search-button-background-color: #169082;
    --smart-search-button-hover-background-color: #1e765d;

    &.smart-search--extended {
        margin-top: 102px;
    }
}
