@mixin mobilePointStyle() {
    @media screen and (max-width: $mobilePoint) {
        @content;
    }
}

@mixin tabletPointStyle() {
    @media screen and (max-width: $tabletPoint) {
        @content;
    }
}

@mixin laptopPointStyle() {
    @media screen and (max-width: $laptopPoint) {
        @content;
    }
}
