$laptopPoint: 1260px;
$tabletPoint: 960px;
$mobilePoint: 665px;
$oldMobilePoint: 374px;

$backgroundColor: #fff;
$borderColor: #d9d9d9;

$popupBackgroundColor: #fff;

$grayTextColor: #999;

$dropdownBorderColor: #999;
$dropdownArrowColor: #424242;
