<!DOCTYPE html>
<html lang=''>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width,initial-scale=1.0'>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>li{margin: 10px 0}</style>
</head>
<body style='font-family: Helvetica, Arial, sans-serif; background-color: #ebebeb;'>
    <ol>
        <li><a href='?iqpoisk=default&query=диван'>Открытие по параметрам в запросе</a></li>
        <li><a href='?param=value&iqpoisk=extended&query=диван&sorting=PRICE_DESC&page=1#hash'>Открытие по параметрам в запросе</a></li>
        <li><a href='/#hash'>Добавляем хеш</a></li>
        <li><a href='https://google.com' class='iqpoisk'>Открытие по классу на ссылке</a></li>
        <li><button id='search-input' type='button'>Открытие по по классу на кнопке</button></li>
        <li>
            <form action='search.html' class='iqpoisk'>
                <input type='text' placeholder='Поиск по сайту'>
                <button>Открытие по клику на элементы формы</button>
            </form>
        </li>
    </ol>
</body>
</html>