<template>
  <SearchArea
      :query='query'
      @changeQuery='changeQuery'
      @searchClose='onSearchClose'
      @changeMode='setExtendedMode'
  />
  <div
      class='smart-search__content'
      v-if='categories.length > 0 && results.length > 0'
  >
    <CategoryList
        :total='total'
        :categories='categories'
        :categoryId='categoryId'
        @selectCategory='onSelectCategory'
    />
    <div
        class='smart-search__result'
        ref='resultsPanel'
        :class='{"smart-search__result--single": !showAsListItem}'
    >
      <SearchResult
          v-for='group in results'
          :key='group.category.id'
          :id='group.category.id'
          :url='group.category.url'
          :name='group.category.name'
          :columns='group.items'
          :count='group.category.count'
          :showAsListItem='showAsListItem'
          :activePage='activePage'
          @selectCategory='onSelectCategory'
          @selectPage='onPageChange'
      />
    </div>
  </div>
  <div
      v-else-if="dataLoaded && query !== ''"
      class='smart-search__no-data'
  >Нет данных
  </div>
</template>
<script>
  import SearchArea from '@/components/SearchArea';
  import CategoryList from '@/components/CategoryList';
  import SearchResult from '@/components/SearchResult';

  export default {
    name: 'DefaultView',
    components: {
      SearchArea,
      CategoryList,
      SearchResult,
    },
    props: {
      getSize: {
        type: Function,
        required: true,
        validator: value => {
          return value !== null;
        },
      },
      onSearchClose: {
        type: Function,
        required: true,
        validator: value => {
          return value !== null;
        },
      },
      setExtendedMode: {
        type: Function,
        required: true,
        validator: value => {
          return value !== null;
        },
      },
    },
    data() {
      return {
        query: '',
        total: null,
        categories: [],
        results: [],
        categoryId: null,
        activePage: 1,
        dataLoaded: false,
      };
    },
    computed: {
      showAsListItem() {
        return this.categoryId === null;
      },
      extendedModeAllowed() {
        return IQPoisk.config.extendedModeEnable;
      },
    },
    created() {
      this.parseSearchParams();
    },
    methods: {
      changeQuery: function(newQuery) {
        this.query = newQuery;
        this.categoryId = null;
        this.activePage = 1;

        if (newQuery === '') {
          this.categories = [];
          this.setSearchParams();
        } else {
          this.loadData();
        }
      },
      getHistoryUrl: function (searchParams) {
        return window.location.origin + window.location.pathname + (searchParams.toString() === '' ? '' : '?' + searchParams) + window.location.hash;
      },
      parseSearchParams: function () {
        const searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has(IQPoisk.searchParams.iqpoisk)) {
          const query = searchParams.get(IQPoisk.searchParams.query);
          const category = searchParams.get(IQPoisk.searchParams.category);
          const page = searchParams.get(IQPoisk.searchParams.page);

          if (query !== null) {
            this.query = query;

            if (category !== null) {
              this.categoryId = Number.parseInt(category);

              if (page !== null) {
                this.activePage = Number.parseInt(page);
              }
            }

            this.loadData();
          }
        } else {
          this.setSearchParams();
        }
      },
      setSearchParams: function () {
        const searchParams = new URLSearchParams(window.location.search);
        for (let param in IQPoisk.searchParams) {
          searchParams.delete(param);
        }
        searchParams.set(IQPoisk.searchParams.iqpoisk, IQPoisk.searchParams.mode.split('/')[0]);
        if (this.query !== '') {
          searchParams.set(IQPoisk.searchParams.query, this.query);
        }
        if (this.categoryId !== null) {
          searchParams.set(IQPoisk.searchParams.category, this.categoryId);
          searchParams.set(IQPoisk.searchParams.page, this.activePage);
        }
        window.history.pushState(null, '', this.getHistoryUrl(searchParams));
      },
      getRequestUrl: function () {
        const searchParams = new URLSearchParams();
        searchParams.append('query', this.query);
        if (this.categoryId !== null) {
          searchParams.append('category', this.categoryId);
          searchParams.append('page', this.activePage);
        }
        searchParams.append('size', this.getSize());
        return IQPoisk.config.api + IQPoisk.config.id + '?' + searchParams.toString();
      },
      loadData: function () {
        this.setSearchParams();
        this.dataLoaded = false;
        return fetch(this.getRequestUrl())
            .then(response => response.json())
            .then(data => {
              this.total = data.total;
              this.categories = data.categories;
              this.results = data.results;
              this.dataLoaded = true;
            });
      },
      onSelectCategory: function (categoryId, event) {
        if (categoryId === null && this.extendedModeAllowed && event.target.className.includes('smart-search-button')) {
          this.setExtendedMode(true);
        } else {
          this.categoryId = categoryId;
          this.activePage = 1;
          this.loadData().then(v => {
            if (this.getSize() === 'mini') {
              this.$refs.resultsPanel.scrollIntoView({ behavior: 'smooth' });
            }
          });
        }
      },
      onPageChange: function (page) {
        this.activePage = page;
        this.loadData().then(v => {
          if (this.getSize() === 'mini') {
            this.$refs.resultsPanel.scrollIntoView();
          } else {
            document.querySelector('.smart-search').scrollTo(0, 0);
          }
        });
      },
      reloadView: function () {
        if (this.query !== '') {
          this.activePage = 1;
          this.loadData();
        }
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search__content {
    display: flex;
    padding-top: 35px;
    margin-bottom: 20px;

    @include mobilePointStyle {
      display: block;
    }
  }
  .smart-search__result {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-wrap: wrap;

    .smart-search-result {
      flex: 0 0 33.33%;
      box-sizing: border-box;

      @include laptopPointStyle {
        flex: 0 0 50%;
      }
      @include tabletPointStyle {
        flex: 0 0 100%;
      }
    }
    @include mobilePointStyle {
      display: block;
      padding-top: 20px;
    }
  }
  .smart-search__result--single {
    display: block;
  }
  .smart-search__no-data {
    padding-top: 40px;
    padding-bottom: 20px;
  }
</style>
