<template>
  <SearchArea
      :query='query'
      @changeQuery='changeQuery'
      @searchClose='onSearchClose'
      @changeMode='setExtendedMode'
      showChangeModeBtn
  />
  <KeywordsPanel
      v-if='keywords.length > 0'
      :keywords='keywords'
      @selectKeyword='keyword => changeQuery(query + " " + keyword)'
  />
  <template v-if='hasResults'>
    <div class='smart-search-filter-panel'>
      <VueMultiselect
          class='smart-search-categories'
          v-model='category'
          :options='categories'
          trackBy='id'
          label='name'
          :allow-empty='false'
          :searchable='false'
          :showLabels='false'
          :optionHeight='36'
          @select='onSelectCategory'
      >
        <template v-slot:option='{ option }'>
            <span class='smart-search-categories__option'>
              <span class='smart-search-categories__option-name'>{{ option.name }}</span>
              <span class='smart-search-categories__option-value'>{{ option.count }}</span>
            </span>
        </template>
      </VueMultiselect>
      <DropDown
          v-model='showPriceSelector'
          :nameLabel='priceDropDownLabel'
      >
        <div class='smart-search-price-selector'>
          <div class='smart-search-price-selector__header'>
            <div class='smart-search-price-selector__header-title'>{{ priceDropDownLabel }}</div>
            <div class='smart-search-price-selector__data'>
              <input
                  type='text'
                  class='smart-search-price-selector__data-input'
                  :value='priceFrom'
                  @input='changePrice($event.target.value, true)'
              >
              <span class='smart-search-price-selector__data-divider'></span>
              <input
                  type='text'
                  class='smart-search-price-selector__data-input'
                  :value='priceTo'
                  @input='changePrice($event.target.value, false)'
              >
            </div>
            <div class='smart-search-price-selector__error'>{{ priceSelectorError }}</div>
          </div>
          <VueSlider
              v-model='price'
              :max='maxPrice'
              :dotSize='16'
              :height='5'
              tooltip='none'
              @change='priceSelectorError = ""'
              @error='onPriceSelectorError'
          />
          <Button
              name='Подобрать'
              @click='onPriceSelectorChange'
          />
        </div>
      </DropDown>
      <VueMultiselect
          class='smart-search-sorting'
          v-model='sorting'
          :options='sortingOptions'
          trackBy='type'
          label='name'
          :allow-empty='false'
          :searchable='false'
          :showLabels='false'
          :optionHeight='36'
          @select='changeSorting'
      />
    </div>
    <div class='smart-search-extended-results'>
      <SearchResultItem
          v-for='result in results'
          :key='result.id'
          :url='result.url'
          :picture='result.picture'
          :name='result.name'
          :price='result.price'
          :currency='result.currency'
          :oldPrice='Number.parseInt(result.old_price)'
          :label='result.labels'
          :dimensions='result.dimensions'
          extendedMode
      />
    </div>
    <Paginate
        v-model="activePage"
        :pageCount='pagesCount'
        :pageRange='pagesRange'
        :noLiSurround='true'
        :hidePrevNext='true'
        :clickHandler='onPageChange'
        prevText=''
        nextText=''
        containerClass='smart-search-pagination'
        pageLinkClass='smart-search-pagination__item'
        activeClass='smart-search-pagination__item--active'
        disabledClass='smart-search-pagination__item--disabled'
        prevLinkClass='smart-search-pagination__item-prev'
        nextLinkClass='smart-search-pagination__item-next'
    />
  </template>
  <div
      v-else-if="dataLoaded && query !== ''"
      class='smart-search__no-data'
  >Нет данных
  </div>
</template>
<script>
  import VueMultiselect from 'vue-multiselect';
  import VueSlider from 'vue-slider-component';
  import Paginate from "vuejs-paginate-next";

  import SearchArea from '@/components/SearchArea';
  import KeywordsPanel from '@/components/KeywordsPanel';
  import DropDown from '@/components/DropDown';
  import Button from '@/components/Button';
  import SearchResultItem from '@/components/SearchResultItem';

  const DEFAULT_CATEGORY = {
    name: 'Во всех категориях',
    id: null,
    count: 0,
  };
  const DEFAULT_SORTING = {
    type: 'DEFAULT',
    name: 'По популярности',
  };

  export default {
    name: 'ExtendedView',
    components: {
      VueMultiselect,
      VueSlider,
      Paginate,
      SearchArea,
      KeywordsPanel,
      DropDown,
      Button,
      SearchResultItem,
    },
    props: {
      getSize: {
        type: Function,
        required: true,
        validator: value => {
          return value !== null;
        },
      },
      onSearchClose: {
        type: Function,
        required: true,
        validator: value => {
          return value !== null;
        },
      },
      setExtendedMode: {
        type: Function,
        required: true,
        validator: value => {
          return value !== null;
        },
      },
    },
    data() {
      return {
        dataLoaded: false,
        query: '',
        category: DEFAULT_CATEGORY,
        categoryId: DEFAULT_CATEGORY.id,
        price: null,
        showPriceSelector: false,
        priceSelectorError: '',
        activePage: 1,
        sorting: DEFAULT_SORTING,
        maxPrice: null,
        keywords: [],
        categories: [],
        results: [],
      };
    },
    computed: {
      priceFrom() {
        return new Intl.NumberFormat('ru-RU').format(this.price[0]);
      },
      priceTo() {
        return new Intl.NumberFormat('ru-RU').format(this.price[1]);
      },
      hasResults() {
        return this.categories.length > 0 && this.results.length > 0;
      },
      priceDropDownLabel() {
        return 'Цена, ' + this.results[0].currency;
      },
      sortingOptions() {
        return [DEFAULT_SORTING, {
          type: 'PRICE_ASC',
          name: 'Сначала дешевле',
        }, {
          type: 'PRICE_DESC',
          name: 'Сначала дороже',
        }];
      },
      pagesCount() {
        return Math.ceil(this.category.count / IQPoisk.config.searchResult.extended[this.getSize()]);
      },
      pagesRange() {
        return this.getSize() === "mini" ? 1 : 3;
      },
    },
    created() {
      this.parseSearchParams();
    },
    methods: {
      changeQuery: function(newQuery) {
        if (newQuery !== this.query) {
          this.query = newQuery;
          this.category = DEFAULT_CATEGORY;
          this.categoryId = DEFAULT_CATEGORY.id;
          this.price = null;
          this.maxPrice = null;
          this.activePage = 1;

          if (newQuery === '') {
            this.keywords = [];
            this.categories = [];
            this.results = [];
            this.setSearchParams();
          } else {
            this.loadData();
          }
        }
      },
      changeSorting: function() {
        this.activePage = 1;
        this.loadData();
      },
      getHistoryUrl: function (searchParams) {
        return window.location.origin + window.location.pathname + (searchParams.toString() === '' ? '' : '?' + searchParams) + window.location.hash;
      },
      parseSearchParams: function () {
        const searchParams = new URLSearchParams(window.location.search);
        if (searchParams.has(IQPoisk.searchParams.iqpoisk)) {
          const query = searchParams.get(IQPoisk.searchParams.query);
          const sorting = searchParams.get(IQPoisk.searchParams.sorting);
          const category = searchParams.get(IQPoisk.searchParams.category);
          const price = searchParams.get(IQPoisk.searchParams.price);
          const page = searchParams.get(IQPoisk.searchParams.page);

          if (query !== null) {
            this.query = query;

            if (sorting !== null) {
              for (let sortingOption of this.sortingOptions) {
                if (sortingOption.type === sorting) {
                  this.sorting = sortingOption;
                  break;
                }
              }
            }
            if (category !== null) {
              this.categoryId = Number.parseInt(category);
            }
            if (price !== null) {
              this.price = price.split(",").map(Number);
              this.maxPrice = this.price[1];
            }
            if (page !== null) {
              this.activePage = Number.parseInt(page);
            }

            this.loadData();
          }
        } else {
          this.setSearchParams();
        }
      },
      setSearchParams: function () {
        const searchParams = new URLSearchParams(window.location.search);
        for (let param in IQPoisk.searchParams) {
          searchParams.delete(param);
        }
        searchParams.set(IQPoisk.searchParams.iqpoisk, IQPoisk.searchParams.mode.split('/')[1]);
        if (this.query !== '') {
          searchParams.set(IQPoisk.searchParams.query, this.query);
        }
        if (this.categoryId !== null) {
          searchParams.set(IQPoisk.searchParams.category, this.categoryId);
        }
        if (this.price !== null) {
          searchParams.set(IQPoisk.searchParams.price, this.price);
        }
        searchParams.set(IQPoisk.searchParams.sorting, this.sorting.type);
        searchParams.set(IQPoisk.searchParams.page, this.activePage);
        window.history.pushState(null, '', this.getHistoryUrl(searchParams));
      },
      appendNotNullSearchParam: function (searchParams, paramName, paramValue) {
        if (paramValue !== null) {
          searchParams.append(paramName, paramValue);
        }
      },
      getRequestUrl: function () {
        const searchParams = new URLSearchParams();
        searchParams.append('query', this.query);
        this.appendNotNullSearchParam(searchParams, 'category', this.categoryId);
        this.appendNotNullSearchParam(searchParams, 'price', this.price);
        searchParams.append('sort', this.sorting.type);
        searchParams.append('page', this.activePage);
        searchParams.append('size', this.getSize());
        return IQPoisk.config.api + 'extended/' + IQPoisk.config.id + '?' + searchParams.toString();
      },
      loadData: function () {
        this.setSearchParams();
        this.dataLoaded = false;
        return fetch(this.getRequestUrl())
            .then(response => response.json())
            .then(data => {
              if (this.maxPrice === null) {
                this.maxPrice = data.max_price;
              }
              if (this.price === null) {
                this.price = [0, data.max_price];
              }
              this.keywords = data.keywords;
              let total = 0;
              data.categories.forEach(category => total += category.count);
              data.categories.splice(0, 0, Object.assign({}, DEFAULT_CATEGORY));
              data.categories[0].count = total;
              for (let category of data.categories) {
                if (category.id === this.categoryId) {
                  this.category = category;
                  break;
                }
              }
              this.categories = data.categories;
              this.results = data.results;
              this.dataLoaded = true;
            });
      },
      onSelectCategory: function (category) {
        this.categoryId = category.id;
        this.price = null;
        this.maxPrice = null;
        this.activePage = 1;
        this.loadData();
      },
      changePrice: function (value, isPriceFrom) {
        value = value.replace(/\s/g, '');
        const valueNaN = isNaN(value);
        if (valueNaN) {
          this.priceSelectorError = 'Введено не число';
        } else {
          const priceFrom = isPriceFrom ? Number.parseInt(value) : this.price[0];
          const priceTo = isPriceFrom ? this.price[1] : Number.parseInt(value);
          this.price = [priceFrom, priceTo];
          this.priceSelectorError = '';
        }
      },
      onPriceSelectorChange: function () {
        this.showPriceSelector = false;
        this.activePage = 1;
        this.loadData();
      },
      onPriceSelectorError: function (type, msg) {
        switch (type) {
          case 3:
            this.priceSelectorError = 'Цена не может быть меньше 0';
            break;
          case 4:
            this.priceSelectorError = 'Цена не может быть больше ' + new Intl.NumberFormat('ru-RU').format(this.maxPrice);
            break;
          default:
            this.priceSelectorError = msg;
        }
      },
      onPageChange: function () {
        this.loadData().then(v => {
          document.querySelector('.smart-search').scrollTo(0, 0);
        });
      },
      reloadView: function () {
        if (this.query !== '') {
          this.activePage = 1;
          this.loadData();
        }
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search-filter-panel {
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;

    .smart-search-dropdown-wrapper {
      margin-left: 10px;
      margin-right: 10px;

      @include mobilePointStyle {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .multiselect,
    .multiselect__input,
    .multiselect__single {
      font-size: 13px;
    }
    .multiselect {
      color: inherit;
    }
    .multiselect__select {
      pointer-events: none; // чтобы не мешал закрываться попапу с ценой

      &::before {
        top: 60%;
        color: $dropdownArrowColor;
        border-top-color: $dropdownArrowColor;
      }
    }
    .multiselect__tags {
      border-radius: 5px !important;
      border-color: $dropdownBorderColor;
      padding-top: 9px;
      font-size: 13px;
    }
    .multiselect__single {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .multiselect__content-wrapper {
      border: 0;
      border-radius: 0;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    }
    .multiselect__content {
      display: block !important;
    }
    .multiselect__option {
      color: inherit;
      min-height: 36px;
      padding-top: 9px;
      padding-bottom: 10px;
    }
    .multiselect__option--highlight {
      background: var(--smart-search-button-hover-background-color);
      color: var(--smart-search-button-hover-text-color);
    }
    .multiselect__option--selected,
    .multiselect__option--selected.multiselect__option--highlight {
      background: var(--smart-search-button-background-color);
      color: var(--smart-search-button-text-color);
      font-weight: 400;
    }
  }
  .smart-search-categories {
    cursor: pointer;
    width: 200px;

    .multiselect__content-wrapper {
      min-width: 200px;
    }
    .multiselect__option--highlight,
    .multiselect__option--selected {
      .smart-search-categories__option-value {
        color: var(--smart-search-button-text-color);
      }
    }
    @include mobilePointStyle {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .smart-search-categories__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .smart-search-categories__option-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .smart-search-categories__option-value {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $grayTextColor;
    padding-left: 10px;

    &:empty {
      display: none;
    }
  }
  .smart-search-sorting {
    margin-left: auto;
    width: 170px;
    cursor: pointer;

    @include mobilePointStyle {
      width: 100%;
      order: -1;
      margin-bottom: 10px;
    }
  }
  .smart-search-price-selector {
    width: 260px;
    background-color: $popupBackgroundColor;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    padding: 32px 32px 18px;
    margin-top: 16px;

    .vue-slider-process {
      background-color: var(--smart-search-button-background-color);
    }
    .vue-slider-dot-handle {
      background-color: var(--smart-search-button-background-color);
      box-shadow: none !important;
    }
    .smart-search-button {
      width: 113px;
      margin-top: 20px;
    }
  }
  .smart-search-price-selector__header {
    padding-bottom: 20px;
  }
  .smart-search-price-selector__header-title {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 16px;
  }
  .smart-search-price-selector__data {
    display: flex;
    align-items: center;
  }
  .smart-search-price-selector__data-divider {
    width: 10px;
    height: 1px;
    background-color: $borderColor;
    margin: 0 12px;
  }
  .smart-search-price-selector__data-input {
    font-size: 14px;
    line-height: 17px;
    color: $grayTextColor;
    padding: 12px 16px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    flex: 1;
    min-width: 0;
    outline-color: var(--smart-search-button-background-color);
  }
  .smart-search-price-selector__error {
    font-size: 14px;
    line-height: 20px;
    color: red;
    padding-top: 10px;
  }
  .smart-search-extended-results {
    display: flex;
    flex-wrap: wrap;
    padding-top: 38px;
    padding-bottom: 30px;
    margin: 0 -20px;
  }
  .smart-search-pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media screen and (max-width: $oldMobilePoint) {
      margin-left: calc(-1 * var(--smart-search-side-indent) / 2);
      margin-right: calc(-1 * var(--smart-search-side-indent) / 2);
    }
  }
  .smart-search-pagination__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    min-width: 38px;
    margin: 0 8px;
    padding: 9px 10px;
    border: 1px solid $borderColor;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;

    &:not(.smart-search-pagination__item--disabled):hover {
      background-color: var(--smart-search-button-hover-background-color);
      color: var(--smart-search-button-hover-text-color);
      border-color: transparent;
    }
    @include mobilePointStyle {
      margin-left: 6px;
      margin-right: 6px;
    }
    @media screen and (max-width: $oldMobilePoint) {
      min-width: 34px;
      margin-left: 3px;
      margin-right: 3px;
    }
  }
  .smart-search-pagination__item--active {
    background-color: var(--smart-search-button-background-color) !important;
    color: var(--smart-search-button-text-color);
    cursor: default;
    border-color: transparent;
  }
  .smart-search-pagination__item--disabled {
    cursor: default;
  }
  .smart-search-pagination__item-prev {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.893 7.405c-.255.36.094.346-9 .346H2.45l2.335 2.36C7 12.35 7.115 12.48 7.115 12.716c0 .522-.336.848-.793.773-.215-.034-.63-.427-3.282-3.106L0 7.31v-.611l3.04-3.072C5.913.723 6.1.547 6.362.513 6.617.48 6.664.5 6.88.717c.195.196.235.284.235.529v.291l-2.329 2.36L2.45 6.259h8.443c9.094 0 8.745-.013 9 .346.06.089.107.265.107.4a.821.821 0 01-.107.4z' fill='%23999'/%3e%3c/svg%3e") center no-repeat;
    width: 34px;
    height: 34px;
    cursor: pointer;
    margin-right: 8px;

    @media screen and (max-width: $oldMobilePoint) {
      margin-right: 0;
    }
  }
  .smart-search-pagination__item-next {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.107 7.405c.255.36-.094.346 9 .346h8.443l-2.335 2.36c-2.215 2.239-2.33 2.368-2.33 2.605 0 .522.337.848.793.773.215-.034.63-.427 3.282-3.106L20 7.31v-.611l-3.04-3.072C14.087.723 13.9.547 13.638.513 13.383.48 13.336.5 13.12.717c-.195.196-.235.284-.235.529v.291l2.329 2.36 2.335 2.361H9.107c-9.094 0-8.745-.013-9 .346a.821.821 0 00-.107.4c0 .136.047.313.107.4z' fill='%23999'/%3e%3c/svg%3e") center no-repeat;
    width: 34px;
    height: 34px;
    cursor: pointer;
    margin-left: 8px;

    @media screen and (max-width: $oldMobilePoint) {
      margin-left: 0;
    }
  }
</style>
