<template>
  <div class='smart-search-button'>
    <div class='smart-search-button__label'>{{ name }}</div>
    <div
        v-if='withIcon'
        class='smart-search-button__icon'
    ></div>
  </div>
</template>
<script>
  export default {
    name: 'Button',
    props: {
      name: {
        type: String,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      withIcon: {
        type: Boolean,
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search-button {
    background-color: var(--smart-search-button-background-color);
    border-radius: 3px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      background-color: var(--smart-search-button-hover-background-color);
    }
  }
  .smart-search-button__label {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--smart-search-button-text-color);
  }
</style>
