<template>
  <div class='smart-category-list'>
    <CategoryListItem
        name='Все результаты'
        :count='total'
        :selected='categoryId === null'
        :showExtendedModeBtn='extendedModeAllowed'
        @click="$emit('selectCategory', null, $event)"
    />
    <CategoryListItem
        v-for='category in categories'
        :key='category.id'
        :name='category.name'
        :count='category.count'
        :selected='categoryId === category.id'
        @click="$emit('selectCategory', category.id, $event)"
    />
  </div>
</template>
<script>
  import CategoryListItem from '@/components/CategoryListItem';

  export default {
    name: 'CategoryList',
    components: {
      CategoryListItem,
    },
    props: {
      total: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
      categories: {
        type: Array,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      categoryId: {
        type: [Number, null],
        required: true,
        validator: value => {
          return value === null || value > 0;
        },
      },
    },
    emits: ['selectCategory'],
    computed: {
      extendedModeAllowed() {
        return IQPoisk.config.extendedModeEnable;
      },
    }
  };
</script>
<style lang='scss'>
  .smart-category-list {
    padding-top: 3px;
    padding-right: 10px;
    width: 254px;

    @include mobilePointStyle {
      padding-top: 0;
      padding-right: 0;
      width: 100%;
    }
  }
</style>
