<template>
  <div class='smart-category-list__item'>
    <Button
        v-if='showExtendedModeBtn'
        class='smart-category-list__item-button'
        :name='name'
        :withIcon='true'
    />
    <span v-else>{{ name }}</span>
    <Counter
        class='smart-category-list__item-count'
        :count='count'
        :highlight='selected'
    />
  </div>
</template>
<script>
  import Button from '@/components/Button.vue';
  import Counter from '@/components/Counter';

  export default {
    name: 'CategoryListItem',
    components: {
      Button,
      Counter,
    },
    props: {
      name: {
        type: String,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      count: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
      selected: {
        type: Boolean,
      },
      showExtendedModeBtn: {
        type: Boolean,
      },
    },
  };
</script>
<style lang='scss'>
  .smart-category-list__item {
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $borderColor;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &:first-child {
      border-top: 1px solid $borderColor;
    }
    @include mobilePointStyle {
      font-size: 20px;
      line-height: 30px;
    }
  }
  .smart-category-list__item-button {
    .smart-search-button__icon {
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.086 5.843c.204.304-.075.292 7.2.292h6.754l-1.868 1.998c-1.772 1.894-1.863 2.003-1.863 2.204 0 .442.268.717.633.654.172-.029.505-.362 2.626-2.629L16 5.762v-.516l-2.432-2.6C11.27.189 11.12.04 10.91.01c-.204-.029-.242-.011-.413.172-.156.167-.188.241-.188.448v.247l1.863 1.997 1.868 1.998H7.286c-7.275 0-6.996-.012-7.2.292A.726.726 0 000 5.504c0 .115.038.264.086.339z' fill='%23fff'/%3e%3c/svg%3e") 0 0 no-repeat;
      width: 16px;
      height: 11px;
      margin-left: 16px;
    }
  }
  .smart-category-list__item-count {
    margin-left: 10px;
  }
</style>
