<template>
  <span
      class='smart-counter'
      :class='[sizeModifier, {"smart-counter--highlight": highlight}]'
  >{{ count }}</span>
</template>
<script>
  export default {
    name: 'Counter',
    props: {
      count: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
      size: {
        type: String,
        availableTypes: ['S'],
      },
      highlight: {
        type: Boolean,
      },
    },
    computed: {
      sizeModifier() {
        return this.size === 'S' ? 'smart-counter--small' : '';
      },
    },
  };
</script>
<style lang='scss'>
  .smart-counter {
    border-radius: 10px;
    padding: 10px;
  }
  .smart-counter--small {
    border-radius: 4px;
    padding: 3px 6px 4px 5px;
  }
  .smart-counter--highlight {
    background-color: var(--smart-search-button-background-color);
    color: var(--smart-search-button-text-color);
  }
</style>
