<template>
  <div class='smart-search-dropdown-wrapper'>
    <div
        :class='["smart-search-dropdown", {"smart-search-dropdown--opened": modelValue}]'
        @click='toggleState'
    >{{ nameLabel }}
    </div>
    <div
        v-if='this.modelValue'
        class='smart-search-dropdown-popup'
    >
      <slot></slot>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'DropDown',
    props: {
      modelValue: Boolean,
      nameLabel: {
        type: String,
        required: true,
      },
    },
    emits: ['update:modelValue'],
    created() {
      document.querySelector('body').addEventListener('mousedown', this.closeDropDown, false);
    },
    unmounted() {
      document.querySelector('body').removeEventListener('mousedown', this.closeDropDown, false);
    },
    methods: {
      toggleState: function () {
        this.$emit('update:modelValue', !this.modelValue);
      },
      closeDropDown: function (event) {
        if (this.modelValue && this.nodeHNotHaveSelector(event.target, 'smart-search-dropdown-wrapper')) {
          this.toggleState();
        }
      },
      nodeHNotHaveSelector: function (node, selector) {
        if (node === null || node.classList === undefined) {
          return true;
        }
        if (node.classList.contains(selector)) {
          return false;
        } else {
          return this.nodeHNotHaveSelector(node.parentNode, selector);
        }
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search-dropdown-wrapper {
    position: relative;
  }
  .smart-search-dropdown {
    padding: 9px 40px 9px 13px;
    border: 1px solid $dropdownBorderColor;
    border-radius: 5px;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    position: relative;

    &::before {
      transition: transform 0.2s ease;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -2px;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: $dropdownArrowColor transparent transparent transparent;
      content: "";
    }
  }
  .smart-search-dropdown--opened::before {
    transform: rotateZ(180deg);
  }
  .smart-search-dropdown-popup {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }
</style>
