<template>
  <div class='smart-search-keywords-panel'>
    <span class='smart-search-keywords-panel__title'>Уточнить:</span>
    <span
        class='smart-search-keyword'
        v-for='keyword in keywords'
        :key='keyword'
        @click='$emit("selectKeyword", keyword)'
    >{{ keyword }}</span>
  </div>
</template>
<script>
  export default {
    name: 'KeywordsPanel',
    emits: ['selectKeyword'],
    props: {
      keywords: {
        type: Array,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search-keywords-panel {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 8px;
  }
  .smart-search-keywords-panel__title {
    padding-top: 8px;
    padding-right: 8px;
  }
  .smart-search-keyword {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: var(--smart-search-button-background-color);
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 8px 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-top: 8px;

    &:hover {
      background-color: var(--smart-search-button-hover-background-color);
      color: var(--smart-search-button-hover-text-color);
      box-shadow: none;
    }
    & ~ & {
      margin-left: 8px;
    }
  }
</style>
