<template>
  <div class='smart-pagination'>
    <div
        v-if='!firstPageSelected'
        class='smart-pagination__nav smart-pagination__nav--prev'
        :class="{'smart-pagination__nav--disabled': firstPageSelected}"
        @click='prevPage'
    >
      <svg
          width='50'
          height='51'
          viewBox='0 0 50 51'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
      >
        <path d='M28.727 1.128a24.772 24.772 0 0116.42 9.68c2.34 3.122 3.872 6.66 4.587 10.601.207 1.164.253 1.81.253 4.09 0 3.055-.172 4.31-.91 6.869-2.374 8.227-9.15 14.784-17.493 16.916-2.35.6-4.217.807-6.833.726-3.111-.092-5.508-.564-8.24-1.648-7.317-2.904-12.86-9.195-14.795-16.778A24.465 24.465 0 018.1 8.214c3.664-3.687 7.95-5.934 13.194-6.925 1.682-.323 5.658-.403 7.433-.161zM23.299 3.49c-8.297.841-15.568 6.442-18.484 14.232-4.724 12.606 2.8 26.434 15.972 29.373 4.886 1.083 9.864.472 14.45-1.775C43.5 41.264 48.432 32.425 47.51 23.3 46.288 11.222 35.353 2.28 23.299 3.49z'/>
        <path d='M24.993 16.396c.645.254.922 1.107.553 1.706-.115.173-1.579 1.601-3.261 3.192l-3.065 2.88 7.95.058c7.272.058 7.987.07 8.263.254.427.276.61.898.438 1.417-.277.841.173.795-8.7.864l-7.951.058 3.065 2.88c1.682 1.58 3.146 3.02 3.261 3.193.311.495.242.98-.207 1.429-.507.507-1.037.53-1.59.069-.957-.795-8.24-7.71-8.436-8.009-.15-.219-.23-.541-.23-.887s.08-.669.23-.887c.3-.473 8.447-8.101 8.781-8.228.323-.127.576-.127.899.011z'/>
      </svg>
    </div>
    <div
        class='smart-pagination__nav smart-pagination__nav--next'
        :class="{'smart-pagination__nav--disabled': lastPageSelected}"
        @click='nextPage'
    >
      <svg
          width='58'
          height='58'
          viewBox='0 0 58 58'
          fill='none'
          xmlns='http://www.w3.org/2000/svg'
      >
        <path d='M.08 31.152c.407 4.294 1.313 7.488 3.148 11.102 2.187 4.282 5.63 8.122 9.8 10.931 1.766 1.179 4.746 2.629 6.853 3.33 1.699.556 3.636 1.01 5.55 1.281 1.337.193 5.8.193 7.137 0 3.342-.476 6.265-1.36 9.063-2.741 3.172-1.552 5.301-3.082 7.828-5.596 2.492-2.504 4.044-4.668 5.539-7.715 1.042-2.13 1.552-3.5 2.096-5.664 1.427-5.664 1.155-11.35-.805-16.879-.6-1.688-2.061-4.61-3.07-6.117-2.254-3.387-5.437-6.491-8.926-8.711-1.28-.816-3.999-2.13-5.505-2.663-7.5-2.662-15.543-2.197-22.577 1.303-2.832 1.405-5.064 2.98-7.341 5.188-2.538 2.447-4.282 4.849-5.868 8.055C1.348 19.609.453 22.736.113 26.45.011 27.606-.01 30.223.08 31.152zm2.537-5.358C3.874 15.519 11.022 6.899 20.923 3.693c4.407-1.416 9.312-1.643 13.888-.623 3.75.827 7.624 2.685 10.75 5.154 1.066.838 3.377 3.15 4.215 4.214a27.102 27.102 0 015.63 13.48c.317 2.515.124 6.209-.476 8.882-.589 2.662-1.87 5.823-3.308 8.122-1.45 2.334-4.067 5.29-6.06 6.854-3.931 3.092-8.508 4.995-13.48 5.63-1.417.181-4.747.181-6.197 0-3.761-.465-7.737-1.87-10.91-3.84-3.114-1.938-6.388-5.166-8.337-8.202a28.339 28.339 0 01-2.956-6.321c-.646-1.994-1.009-3.908-1.235-6.57-.068-.76.034-3.614.17-4.679z'/>
        <path d='M12.302 29.668c.43.6-.158.578 15.191.578h14.251l-3.942 3.942c-3.738 3.738-3.93 3.954-3.93 4.35 0 .872.566 1.416 1.336 1.292.362-.057 1.065-.714 5.54-5.189l5.13-5.131v-1.02l-5.13-5.132c-4.85-4.848-5.166-5.143-5.608-5.2-.43-.056-.51-.022-.872.34-.329.33-.397.476-.397.884v.487l3.931 3.942 3.942 3.943h-14.25c-15.35 0-14.761-.023-15.192.577-.102.148-.18.442-.18.669 0 .226.078.52.18.668z'/>
      </svg>
      <Counter
          v-if='!firstPageSelected'
          class='smart-pagination__nav-count'
          :count='activePage'
          :size="'S'"
          highlight
      />
    </div>
  </div>
</template>
<script>
  import Counter from '@/components/Counter';

  export default {
    name: 'Pagination',
    components: {
      Counter,
    },
    props: {
      itemsCount: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
      activePage: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
      selectPage: {
        type: Function,
        default: () => {
        },
      },
      itemsPerPage: {
        type: Number,
        default: 13,
        validator: value => {
          return value > 0;
        },
      },
    },
    computed: {
      pagesCount() {
        return Math.ceil(this.itemsCount / this.itemsPerPage);
      },
      firstPageSelected() {
        return this.activePage === 1;
      },
      lastPageSelected() {
        return this.activePage === this.pagesCount;
      },
    },
    methods: {
      prevPage: function () {
        if (!this.firstPageSelected) {
          this.selectPage(this.activePage - 1);
        }
      },
      nextPage: function () {
        if (!this.lastPageSelected) {
          this.selectPage(this.activePage + 1);
        }
      },
    },
  };
</script>
<style lang='scss'>
  .smart-pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 97px;

    @include mobilePointStyle {
      justify-content: center;
      padding-right: 0;
    }
  }
  .smart-pagination__nav {
    cursor: pointer;
    user-select: none;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;

    path {
      fill: $grayTextColor;
    }
  }
  .smart-pagination__nav--disabled {
    cursor: default;

    path {
      opacity: 0.5;
    }
  }
  .smart-pagination__nav--prev {
  }
  .smart-pagination__nav--next {
  }
  .smart-pagination__nav-count {
    position: absolute;
    right: 1px;
    bottom: 100%;
    margin-bottom: -13px;
  }
</style>
