<template>
  <div class='smart-search-result'>
    <div class='smart-search-result__header'>
      <a
          class='smart-search-result__title'
          :href='url'
      >{{ name }}
      </a>
    </div>
    <div
        class='smart-search-result__content'
        :class='{"smart-search-result__content--single": !showAsListItem}'
    >
      <div
          class='smart-search-result__column'
          v-for='(items, index) in columns'
          :key='index'
      >
        <SearchResultItem
            v-for='item in items'
            :key='item.id'
            :url='item.url'
            :picture='item.picture'
            :name='item.name'
            :price='item.price'
            :currency='item.currency'
            :oldPrice='Number.parseInt(item.old_price)'
            :label='item.labels'
        />
      </div>
    </div>
    <Pagination
        v-if='!showAsListItem'
        :itemsCount='count'
        :activePage='activePage'
        :selectPage='onPageChange'
    ></Pagination>
    <div
        class='smart-search-result__more'
        v-if='showMoreItemsBtn'
        @click="$emit('selectCategory', id, $event)"
    >Еще {{ moreItemsCount }}…
    </div>
  </div>
</template>
<script>
  import SearchResultItem from '@/components/SearchResultItem';
  import Pagination from '@/components/Pagination';

  export default {
    name: 'SearchResult',
    components: {
      SearchResultItem,
      Pagination,
    },
    props: {
      id: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
      url: {
        type: String,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      name: {
        type: String,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      columns: {
        type: Array,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      count: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
      showAsListItem: {
        type: Boolean,
        required: true,
      },
      activePage: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
    },
    emits: ['selectCategory', 'selectPage'],
    computed: {
      moreItemsCount() {
        return this.count - IQPoisk.config.searchResult.groups.items;
      },
      showMoreItemsBtn() {
        return this.showAsListItem && this.moreItemsCount > 0;
      },
    },
    methods: {
      onPageChange: function (pageNum) {
        this.$emit('selectPage', pageNum);
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search-result {
    padding-bottom: 40px;
    padding-left: 30px;

    @include mobilePointStyle {
      padding-left: 0;
    }
  }
  .smart-search-result__header {
    border-bottom: 1px solid $borderColor;
    margin-bottom: 24px;
    padding-bottom: 14px;
  }
  .smart-search-result__title {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M19.71 8.707a1 1 0 000-1.414L13.346.929a1 1 0 10-1.415 1.414L17.588 8l-5.657 5.657a1 1 0 001.415 1.414l6.364-6.364zM.003 9h19V7h-19v2z' fill='%23999'/%3e%3c/svg%3e") 100% 5px no-repeat;
    padding-right: 47px;
    font-size: 22px;
    line-height: 26px;
    color: inherit;
    text-decoration: none;

    @include mobilePointStyle {
      background-position-y: 15px;
      font-size: 32px;
      line-height: 38px;
    }
  }
  .smart-search-result__content {
    padding-bottom: 42px;
    margin-left: -36px;

    @include mobilePointStyle {
      padding-bottom: 16px;
    }
  }
  .smart-search-result__content--single {
    display: flex;
    flex-wrap: wrap;

    @include mobilePointStyle {
      display: block;
    }
  }
  .smart-search-result__column {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding-left: 36px;

    @include laptopPointStyle {
      flex: 0 0 50%;
    }
    @include tabletPointStyle {
      flex: 0 0 100%;
    }
  }
  .smart-search-result__more {
    font-size: 12px;
    line-height: 14px;
    color: $grayTextColor;
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
    cursor: pointer;
    user-select: none;

    @include mobilePointStyle {
      background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg' %3e%3cpath d='M.08 31.152c.407 4.294 1.313 7.488 3.148 11.102 2.187 4.282 5.63 8.122 9.8 10.931 1.766 1.179 4.746 2.629 6.853 3.33 1.699.556 3.636 1.01 5.55 1.281 1.337.193 5.8.193 7.137 0 3.342-.476 6.265-1.36 9.063-2.741 3.172-1.552 5.301-3.082 7.828-5.596 2.492-2.504 4.044-4.668 5.539-7.715 1.042-2.13 1.552-3.5 2.096-5.664 1.427-5.664 1.155-11.35-.805-16.879-.6-1.688-2.061-4.61-3.07-6.117-2.254-3.387-5.437-6.491-8.926-8.711-1.28-.816-3.999-2.13-5.505-2.663-7.5-2.662-15.543-2.197-22.577 1.303-2.832 1.405-5.064 2.98-7.341 5.188-2.538 2.447-4.282 4.849-5.868 8.055C1.348 19.609.453 22.736.113 26.45.011 27.606-.01 30.223.08 31.152zm2.537-5.358C3.874 15.519 11.022 6.899 20.923 3.693c4.407-1.416 9.312-1.643 13.888-.623 3.75.827 7.624 2.685 10.75 5.154 1.066.838 3.377 3.15 4.215 4.214a27.102 27.102 0 015.63 13.48c.317 2.515.124 6.209-.476 8.882-.589 2.662-1.87 5.823-3.308 8.122-1.45 2.334-4.067 5.29-6.06 6.854-3.931 3.092-8.508 4.995-13.48 5.63-1.417.181-4.747.181-6.197 0-3.761-.465-7.737-1.87-10.91-3.84-3.114-1.938-6.388-5.166-8.337-8.202a28.339 28.339 0 01-2.956-6.321c-.646-1.994-1.009-3.908-1.235-6.57-.068-.76.034-3.614.17-4.679z' fill='%23999' /%3e%3cpath d='M12.302 29.668c.43.6-.158.578 15.191.578h14.251l-3.942 3.942c-3.738 3.738-3.93 3.954-3.93 4.35 0 .872.566 1.416 1.336 1.292.362-.057 1.065-.714 5.54-5.189l5.13-5.131v-1.02l-5.13-5.132c-4.85-4.848-5.166-5.143-5.608-5.2-.43-.056-.51-.022-.872.34-.329.33-.397.476-.397.884v.487l3.931 3.942 3.942 3.943h-14.25c-15.35 0-14.761-.023-15.192.577-.102.148-.18.442-.18.669 0 .226.078.52.18.668z' fill='%23999' /%3e%3c/svg%3e") 50% 0 no-repeat;
      display: block;
      height: 58px;
      font-size: 0;
      margin-top: 0;
    }
  }
</style>
