<template>
  <div class='smart-search-area'>
    <div
        v-if='showChangeModeBtn'
        class='smart-search-area__back-btn'
        @click="$emit('changeMode', false)"
    ></div>
    <div class='smart-search-area__inner'>
      <input
          ref='searchInput'
          type='text'
          class='smart-search-area__input'
          :class="{'smart-search-area__input--one': recognitionAllowed}"
          :value='query'
          @input="debounceSearch"
          @keyup.enter="$emit('changeMode', true)"
      >
      <div
          v-if='recognitionAllowed'
          class='smart-search-area__recognition-btn'
          @click="startSpeechRecognition"
      ></div>
    </div>
    <div
        class='smart-search-area__close-btn'
        @click="$emit('searchClose', false, $event)"
    ></div>
  </div>
  <div
      v-if='recognitionStarted'
      class='smart-recognition-popup'
  >
    <div class='smart-recognition-popup__content'>
      <div
          class='smart-recognition-popup__close-btn'
          @click='stopSpeechRecognition'
      ></div>
      <div
          class='smart-recognition-popup__text'
          ref='recognitionText'
      >Говорите…
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'SearchArea',
    props: {
      query: {
        type: String,
      },
      showChangeModeBtn: Boolean
    },
    data() {
      return {
        debounce: null,
        recognitionAllowed: IQPoisk.config.speechRecognitionEnable && this.speechRecognition !== null,
        recognitionStarted: false,
        recognitionResult: '',
        recognitionAutoEndTimer: null,
      };
    },
    computed: {
      speechRecognition() {
        const SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition;
        if (SpeechRecognition === undefined) {
          return null;
        }
        const speechRecognition = new SpeechRecognition();
        speechRecognition.lang = "ru-RU";
        speechRecognition.continuous = true;
        speechRecognition.interimResults = true;
        speechRecognition.maxAlternatives = 1;
        return speechRecognition;
      }
    },
    emits: ['changeQuery', 'searchClose', 'changeMode'],
    created() {
      this.initSpeechRecognitionEvents();
    },
    mounted() {
      this.$refs.searchInput.focus();
    },
    beforeUnmount() {
      this.stopSpeechRecognition();
    },
    methods: {
      debounceSearch(event) {
        clearTimeout(this.debounce);
        this.debounce = setTimeout(() => {
          this.startSearch(event.target.value);
        }, 500);
      },
      startSearch(filter) {
        this.$emit('changeQuery', filter);
      },
      createRecognitionAutoEndTimer(delay) {
        clearTimeout(this.recognitionAutoEndTimer);
        this.recognitionAutoEndTimer = setTimeout(() => {
          this.stopSpeechRecognition();
        }, delay);
      },
      startSpeechRecognition() {
        if (this.recognitionAllowed && !this.recognitionStarted) {
          this.createRecognitionAutoEndTimer(4000);
          this.recognitionStarted = true;
          this.speechRecognition.start();
        }
      },
      stopSpeechRecognition() {
        if (this.recognitionAllowed && this.recognitionStarted) {
          clearTimeout(this.recognitionAutoEndTimer);
          this.recognitionAutoEndTimer = null;
          this.recognitionStarted = false;
          this.speechRecognition.stop();
        }
      },
      initSpeechRecognitionEvents() {
        if (this.recognitionAllowed) {
          const self = this;
          this.speechRecognition.onresult = function(event) {
            let recognitionTranscript = '';
            for (let i = event.resultIndex; i < event.results.length; i++) {
              const result = event.results[i];
              const transcript = result[0].transcript;
              if (result.isFinal) {
                transcript.trim().split(' ').forEach(transcript => {
                  self.recognitionResult += ' ' + transcript;
                  self.recognitionResult = self.recognitionResult.trim();
                });
              } else {
                recognitionTranscript += transcript;
              }
            }
            if (self.$refs.recognitionText !== null) {
              self.createRecognitionAutoEndTimer(1000);
              self.$refs.recognitionText.innerText = self.recognitionResult + recognitionTranscript;
            }
          };

          this.speechRecognition.onerror = function(event) {
            console.log(`Error occurred in recognition: ${event.error}`);
          };

          this.speechRecognition.onend = function(event) {
            if (self.recognitionResult !== '') {
              self.startSearch(self.recognitionResult);
              self.recognitionResult = '';
            }
          };
        }
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search-area {
    display: flex;
    align-items: center;
  }
  .smart-search-area__inner {
    flex: 1;
    min-width: 0;
    position: relative;
  }
  .smart-search-area__input {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.488 19.348l8.07 8.07a1.513 1.513 0 01-2.141 2.139l-8.07-8.07a12 12 0 112.14-2.14zM12 20.999a9 9 0 100-17.998 9 9 0 000 17.998z' fill='%23999'/%3e%3c/svg%3e") 20px 50% no-repeat;
    width: 100%;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 30px;
    color: inherit;
    padding: 13px 30px 15px 70px;
    border: 1px solid $borderColor;
    border-radius: 4px;
    outline: none;

    .smart-search--compact & {
      border-color: transparent;
      padding-top: 4px;
      padding-bottom: 5px;

      @media screen and (max-width: 900px) {
        background-position-x: 0;
        padding-left: 45px;
      }
    }
  }
  .smart-search-area__input--one {
    padding-right: 70px;

    .smart-search--compact & {
      padding-right: 55px;
    }
  }
  .smart-search-area__back-btn {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z' fill='%23999'/%3e%3c/svg%3e") center no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 20px;

    &:hover {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z' fill='%23CECECE'/%3e%3c/svg%3e");
    }
  }
  .smart-search-area__close-btn,
  .smart-recognition-popup__close-btn {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.822.822a1.667 1.667 0 012.356 0L12 9.643 20.822.822a1.666 1.666 0 112.356 2.356L14.357 12l8.821 8.822a1.666 1.666 0 01-2.356 2.356L12 14.357l-8.822 8.821a1.667 1.667 0 01-2.356-2.356L9.643 12 .822 3.178a1.667 1.667 0 010-2.356z' fill='%23999'/%3e%3c/svg%3e") center no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 20px;

    &:hover {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.822.822a1.667 1.667 0 012.356 0L12 9.643 20.822.822a1.666 1.666 0 112.356 2.356L14.357 12l8.821 8.822a1.666 1.666 0 01-2.356 2.356L12 14.357l-8.822 8.821a1.667 1.667 0 01-2.356-2.356L9.643 12 .822 3.178a1.667 1.667 0 010-2.356z' fill='%23CECECE'/%3e%3c/svg%3e");
    }
  }
  .smart-search-area__recognition-btn {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5 18.583a3.87 3.87 0 003.875-3.875v-7.75A3.87 3.87 0 0015.5 3.083a3.87 3.87 0 00-3.875 3.875v7.75a3.87 3.87 0 003.875 3.875zm7.634-3.875c-.633 0-1.163.465-1.266 1.098-.53 3.036-3.178 5.36-6.368 5.36-3.19 0-5.838-2.324-6.368-5.36a1.29 1.29 0 00-1.266-1.098c-.788 0-1.408.698-1.291 1.473a9.032 9.032 0 007.633 7.466v2.686c0 .71.582 1.292 1.292 1.292.71 0 1.292-.581 1.292-1.292v-2.686a9.032 9.032 0 007.633-7.466c.13-.775-.503-1.473-1.291-1.473z' fill='%23999'/%3e%3c/svg%3e") center no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;

    &:hover {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.5 18.583a3.87 3.87 0 003.875-3.875v-7.75A3.87 3.87 0 0015.5 3.083a3.87 3.87 0 00-3.875 3.875v7.75a3.87 3.87 0 003.875 3.875zm7.634-3.875c-.633 0-1.163.465-1.266 1.098-.53 3.036-3.178 5.36-6.368 5.36-3.19 0-5.838-2.324-6.368-5.36a1.29 1.29 0 00-1.266-1.098c-.788 0-1.408.698-1.291 1.473a9.032 9.032 0 007.633 7.466v2.686c0 .71.582 1.292 1.292 1.292.71 0 1.292-.581 1.292-1.292v-2.686a9.032 9.032 0 007.633-7.466c.13-.775-.503-1.473-1.291-1.473z' fill='%23CECECE'/%3e%3c/svg%3e");
    }
    .smart-search--compact & {
      top: 0;
      right: 0;
    }
  }
  .smart-recognition-popup {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .smart-recognition-popup__content {
    background-color: $popupBackgroundColor;
    margin: 20px;
    width: 500px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.15);
    position: relative;
  }
  .smart-recognition-popup__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .smart-recognition-popup__text {
    padding: 48px 32px 0;
    font-size: 24px;
    line-height: 30px;
  }
</style>
