<template>
  <a
      :href='url'
      :class='["smart-search-result__item", {"smart-search-result__item--extended": extendedMode}]'
  >
    <div class='smart-search-result__item-thumbnail'>
      <img
          class='smart-search-result__item-image'
          :src='picture'
          alt=''
      >
      <div
          v-if='labelParams'
          class='smart-search-result__item-label'
          :style='{color: labelParams.textColor, backgroundColor:labelParams.color}'
      >{{ labelParams.label }}
      </div>
      <div
          v-else-if='label && labelParams === undefined'
          class='smart-search-result__item-label'
      >{{ label }}
      </div>
    </div>
    <div class='smart-search-result__item-content'>
      <div class='smart-search-result__item-name'>{{ name }}</div>
      <div
          v-if='dimensions'
          class='smart-search-result__item-dimensions'
      >{{ dimensions }}
      </div>
      <div class='smart-search-result__item-price'>
        <span
            v-if='oldPrice'
            class='smart-search-result__item-old-price'
        >{{ oldPriceFormatted + ' ' + currency }}</span>
        {{ priceFormatted + ' ' + currency }}
      </div>
      <Button
          v-if='extendedMode'
          class='smart-search-result__item-button'
          name='Купить'
      />
    </div>
  </a>
</template>
<script>
  import Button from '@/components/Button';

  export default {
    name: 'SearchResultItem',
    components: {
      Button,
    },
    props: {
      url: {
        type: String,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      picture: {
        type: String,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      name: {
        type: String,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      price: {
        type: Number,
        required: true,
        validator: value => {
          return value > 0;
        },
      },
      currency: {
        type: String,
        required: true,
        validator: value => {
          return value.length > 0;
        },
      },
      oldPrice: {
        type: Number,
      },
      label: {
        type: String,
      },
      dimensions: {
        type: String,
      },
      extendedMode: {
        type: Boolean
      }
    },
    computed: {
      labelParams() {
        return IQPoisk.config.labelColors.find(param => param.label === this.label);
      },
      priceFormatted() {
        return new Intl.NumberFormat('ru-RU').format(this.price);
      },
      oldPriceFormatted() {
        return new Intl.NumberFormat('ru-RU').format(this.oldPrice);
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search-result__item {
    color: inherit;
    display: flex;
    text-decoration: none;
    margin-bottom: 8px;
  }
  .smart-search-result__item--extended {
    flex-direction: column;
    box-sizing: border-box;
    flex: 0 0 calc(25% - 40px);
    border: 1px solid $borderColor;
    padding: 20px 12px;
    border-radius: 5px;
    transition: box-shadow 100ms ease-in-out, border-color 100ms ease-in-out;
    margin: 0 20px 24px;

    &:hover {
      border-color: transparent;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    }
    @include tabletPointStyle {
      flex: 0 0 calc(50% - 40px);
    }
    @include mobilePointStyle {
      flex: 0 0 calc(100% - 40px);
    }
  }
  .smart-search-result__item-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $borderColor;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    position: relative;
    margin-right: 20px;

    .smart-search-result__item--extended & {
      border: 0;
      width: calc(100% - 16px);
      height: 246px;
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 12px;
    }
    @include mobilePointStyle {
      width: 120px;
      height: 120px;
    }
  }
  .smart-search-result__item-image {
    max-width: 100%;
    max-height: 100%;
  }
  .smart-search-result__item-label {
    background-color: #ff5252;
    color: #fff;
    position: absolute;
    top: 4px;
    left: -1px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    padding: 4px 8px 4px;

    @include mobilePointStyle {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .smart-search-result__item-content {
    flex: 1;
    min-width: 0;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .smart-search-result__item--extended & {
      font-size: 14px;
      justify-content: flex-start;
    }
    @include mobilePointStyle {
      font-size: 18px;
      line-height: 22px;
    }
  }
  .smart-search-result__item-name {
    .smart-search-result__item--extended & {
      font-weight: 700;
    }
  }
  .smart-search-result__item-dimensions {
    font-size: 13px;
    line-height: 15px;
    padding-top: 12px;
  }
  .smart-search-result__item-price {
    padding-top: 12px;
    display: flex;

    .smart-search-result__item--extended & {
      padding-bottom: 12px;
    }
  }
  .smart-search-result__item-old-price {
    text-decoration: line-through;
    color: $grayTextColor;
    padding-right: 4px;

    .smart-search-result__item--extended & {
      //background: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg clip-path='url(%23clip0_1203_2738)'%3e%3cpath d='M15.75-.094h-6c-.412 0-.989.24-1.28.53l-7.439 7.44a.752.752 0 000 1.06l6.439 6.44a.752.752 0 001.061 0l7.439-7.44c.292-.292.53-.868.53-1.28v-6a.753.753 0 00-.75-.75zm-3.75 6a1.501 1.501 0 11.001-3.002A1.501 1.501 0 0112 5.906z' fill='%230451A9'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='clip0_1203_2738'%3e%3cpath fill='%23fff' transform='translate(.5 -.094)' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e") 100% 0 no-repeat;
      order: 1;
      padding-left: 4px;
      //padding-right: 21px;
    }
  }
  .smart-search-result__item-button {
    width: 100%;
    margin-top: auto;
  }
</style>
