<template>
  <div
      class='smart-search'
      :class='[{"smart-search--compact": compactMode && !extendedMode, "smart-search--extended": extendedMode}, clientClassName]'
      v-if='showSearchArea'
  >
    <div class='smart-search__inner'>
      <ExtendedView
          v-if='extendedMode'
          ref='extendedView'
          :getSize='getSize'
          :onSearchClose='setShowSearchArea'
          :setExtendedMode='setExtendedMode'
      />
      <DefaultView
          v-else
          ref='defaultView'
          :getSize='getSize'
          :onSearchClose='setShowSearchArea'
          :setExtendedMode='setExtendedMode'
      />
    </div>
  </div>
</template>
<script>
  import 'vue-multiselect/dist/vue-multiselect.css'
  import 'vue-slider-component/theme/default.css'

  import DefaultView from '@/view/DefaultView';
  import ExtendedView from '@/view/ExtendedView';

  export default {
    name: 'App',
    components: {
      DefaultView,
      ExtendedView,
    },
    data() {
      return {
        size: 'large',
        showSearchArea: false,
        extendedMode: false,
      };
    },
    computed: {
      compactMode() {
        return IQPoisk.config.compact;
      },
      clientClassName() {
        if (process.env.NODE_ENV === 'development') {
          return 'smart-search--demo';
        } else {
          return 'smart-search--' + IQPoisk.config.id;
        }
      },
    },
    watch: {
      size() {
        const currentView = this.extendedMode ? this.$refs.extendedView : this.$refs.defaultView;
        if (this.showSearchArea && currentView !== undefined) {
          currentView.reloadView();
        }
      },
    },
    created() {
      const self = this;
      document.querySelectorAll(IQPoisk.config.initSelectors).forEach(function (node) {
        node.addEventListener('mousedown', self.setShowSearchArea.bind(this, true));
        node.addEventListener('touchstart', self.setShowSearchArea.bind(this, true));
      });
      window.addEventListener('keyup', this.onEscape);
      window.addEventListener('resize', this.onResize);
      this.onResize();
      this.showSearchAreaIfNeed();
    },
    methods: {
      getSize: function () {
        return this.size;
      },
      setExtendedMode: function (set) {
        this.extendedMode = set;
      },
      setShowSearchArea: function (showSearch, event) {
        if (event !== null) {
          event.stopPropagation();
          event.preventDefault();
        }
        this.showSearchArea = showSearch;

        if (!showSearch) {
          this.setExtendedMode(false);

          const searchParams = new URLSearchParams(window.location.search);
          for (let param in IQPoisk.searchParams) {
            searchParams.delete(param);
          }
          window.history.pushState(null, '', this.getHistoryUrl(searchParams));
        }
      },
      getHistoryUrl: function (searchParams) {
        return window.location.origin + window.location.pathname + (searchParams.toString() === '' ? '' : '?' + searchParams) + window.location.hash;
      },
      onResize: function () {
        const width = window.innerWidth;
        if (width <= 665) {
          this.size = 'mini';
        } else if (width <= 960) {
          this.size = 'small';
        } else if (width <= 1260) {
          this.size = 'medium';
        } else {
          this.size = 'large';
        }
      },
      onEscape: function (event) {
        if (this.showSearchArea && event.key === 'Escape') {
          this.setShowSearchArea(false, event);
        }
      },
      showSearchAreaIfNeed: function () {
        const searchParams = new URLSearchParams(window.location.search);
        const searchMode = searchParams.get(IQPoisk.searchParams.iqpoisk);
        const hasSearchParam = searchMode !== null && IQPoisk.searchParams.mode.includes(searchMode);
        const extendedMode = hasSearchParam && searchMode === IQPoisk.searchParams.mode.split('/')[1];

        this.setShowSearchArea(hasSearchParam, null);
        this.setExtendedMode(extendedMode);
      },
    },
  };
</script>
<style lang='scss'>
  .smart-search {
    --smart-search-max-width: 1200px;
    --smart-search-side-indent: 20px;
    --smart-search-button-background-color: #0451a9;
    --smart-search-button-text-color: #fff;
    --smart-search-button-hover-background-color: #136bd0;
    --smart-search-button-hover-text-color: #fff;

    background-color: $backgroundColor;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2147483647;
    text-rendering: optimizeLegibility;
    -webkit-overflow-scrolling: touch;
    text-align: left;
  }
  .smart-search--compact {
    background-color: transparent;
  }
  .smart-search__inner {
    margin: 20px auto 0;
    padding: 20px var(--smart-search-side-indent);
    max-width: var(--smart-search-max-width);
    box-sizing: border-box;

    .smart-search--compact & {
      margin-top: 40px;
      background-color: $backgroundColor;
      box-shadow: 0 1px 4px rgb(62 57 107 / 35%);
    }
  }
</style>
